* {
	box-sizing: border-box;
}
body	{
	width: 1000px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
select	{
	border: none;
	border-top: 2px solid gray;
	border-left: 2px solid gray;
}
form button	{
	border: none;
	background: white;
	color: rgb(52,93,123);
	font-style: italic;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}
.buttonStyle	{
	clear: both;
	display: block;
	text-align: right;
	margin-right: 7px;
	padding-top: 4px;
}
header	{
	height: 300px;
	width: 910px;
	margin: 0 auto;
	padding: 13px 0 0;
	position: relative;
}
.phones	{
	float: left;
	height: 27px;
	width: auto;
	margin-left: 6px;
	padding: 10px 0 0 5px;
	color: #213a4d;
}
.phones img	{
	float: left;
	height: 21px;
	width: 22px;
}
.phones span	{
	font: 18px/19px Arial, sans-serif;
	margin: 5px 0;
}
.loginForm	{
	width: 496px;
	height: 33px;
	float: left;
	margin: 2px 14px;
	background: linear-gradient(rgb(30,99,131), rgb(13,52,88));
	border-radius: 4px;
	box-shadow: 0 2px 4px gray;
}
.loginCenter	{
	height: 100%;
	
}
.loginCenter form	{
	width: 278px;
	float: left;
	margin: 9px -6px 0 34px;
}
.loginCenter form input	{
	float: left;
	font: 12px/13px Arial, sans-serif;
	width: 113px;
	height: 20px;
	padding: 0;
	color: #51676f;
	border: 1px solid #97a2a6;
	border-radius: 3px;
	margin: -3px 3px 0 3px;
}

.loginFormSubmit	{
	float: right;
	height: 13px;
	width: 40px;
	border: none;
	background: none;
	color: #fff;
	font-size: 11px !important;
	font-family: Arial, sans-serif;
	text-align: center;
	cursor: pointer;
}
.loginCenter span	{
	color: #fff;
	font-size: 11px;
}
.loginCenter a	{
	margin: 1px 0;
	color: #fff;
	font: 11px/13px Arial, sans-serif;
	text-decoration: none;
}
.regFog	{
	float: left;
	margin: 10px 1px;
}
.miniMenu	{
	height: 24px;
	width: 92px;
	float: right;
	margin: 4px 7px 0 0;
	padding: 6px 4px 9px;
	box-shadow: 0 1px 4px gray;
	border-radius: 18px;
}
.miniMenu img	{
	margin: 0 -1px 0 10px;
}
.mainImage	{
	float: left;
	width: 909px;
	height: 237px;
	margin-top: 14px;
	background: url(../img/mainImage.jpg) no-repeat;
}
.mainNav	{
	width: 909px;
	height: 41px;
	margin: 10px auto;
	background: linear-gradient(rgb(80,88,86) 4%, rgb(40,44,48) 14%, rgb(2,2,2) 100%);
	border-radius: 7px;
	box-shadow: 1px 1px 4px gray;
}
.mainNav ul	{
	margin: 7px 1px 7px 130px;
	display: block;
	height: 30px;
	width: 496px;
	float: left;
}
.mainNav ul li	{
	font: 14px/19px Arial, sans-serif;
	color: #fff;
	/*width: 116px;*/
	display: block;
	float: left;
	margin: 0 4px;
	/*padding: 4px 0;*/
}
.mainNav ul li a	{
	color: #b1bcc0;
	padding: 4px 10px;
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	
}
.mainNav ul li a:hover	{
	background: linear-gradient(rgb(30,99,121), rgb(13,54,90));
	border-radius: 14px;
}
.total	{
	margin: 14px 11px 0;
	height: 17px;
	width: 216px;
	float: right;
	color: #fff;
}
.total a	{
	color: #090a0b;
}
.total img	{
	margin: -4px 0;
}
.total span	{
	color: #b1bcc0;
}
.total .blue	{
	color: #0d5a8f;
}
.topSearch	{
	width: 915px;
	height: 144px;
	margin: 5px auto 0;
	padding: 0 2px;
	
	/*background-color: #ededed;*/
}
.topSearch .search	{
	position: relative;
	float: left;
	height: 144px;
	border-radius: 21px;
	border: 1px solid #ccc8c8;
	box-shadow: 1px 4px 6px gray;
	
	/*background-color: #aaa;*/
}
.topSearch .cars	{
	width: 406px;
	
	/*background-color: #ccc;*/
}
.topSearch .tires	{
	width: 208px;
	margin: 0 14px;
	
	/*background-color: #cca;*/
}
.topSearch .wheels	{
	width: 268px;
	
	/*background-color: #afa;*/
}
.search .leftSearch, .search .centerSearch	{
	color:	rgb(21,68,104);
	font-weight: bold;
	display: inline-block;
	font-size: 14px;
}
.search .poisk	{
	width: 166px;
	text-align: center;
}
.search .diski, .search .shini	{
	width: 116px;
	font-size: 11px;
}
.search .diski	{
	padding-left: 24px;
}
.search .shini	{
	text-align: right;
	padding-right: 24px;
}
div.leftSelect	{
	float: left;
	width: 200px;
	text-align: center;
	margin-top: 7px;
}
select.markaAvto	{
	width: 105px;
}
select.year	{
	width: 52px;
	margin-left: -54px;
}

.selectBlack, .selectBlue	{
	font-size: 10px;
	font-weight: bold;
}
.selectBlue	{
	color: rgb(173,182,185);
}
div.leftSelect .leftSelectName	{
	float: left;
	width: 85px;
	text-align: left;
}
.leftSelect li	{
	margin-top: 3px;
	margin-left: 8px;
}
.tires .centerSearch	{
	padding-left: 12px;
}
.tires .searchProperties	{
	position: relative;
	margin: 0 6px;
	padding: 2px 14px 0 14px;
	float: left;
	width: 196px;
	height: 100%;
	
	
}
.searchPropInner	{
	height: 17px;
}
select.radius	{
	width: 52px;
	height: 18px;
	margin: 0 3px;
}
.selectRadius	{
	margin: 11px 0px 0px 33px;
}
.season	{
	margin: 11px 9px;
}
.season .selectBlack	{
	display: block;
	float: left;
	height: 31px;
	width: 41px;
} 
.checkSeason	{
	margin: -7px 0 9px 0;
	height: 10px;
	width: 90px;
	float: left;
}
.checkSeason .selectBlack	{
	float: none;
	display: inline;
}